<link rel="stylesheet" href="/styles/shto.css">

<div class="container">
    <h1>SHTO NJE NJERI NE NEVOJE</h1>
    <form action="">
        <div class="form-group">
            <label for="name">Emri:</label>
            <input type="text" name="name" id="name" class="form-control">
        </div>
        <div class="form-group">
            <label for="surname">Mbiemri:</label>
            <input type="text" name="surname" id="surname" class="form-control">
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" class="form-control">
        </div>
        <div class="form-group">
            <label for="address">Adresa:</label>
            <input type="text" name="address" id="address" class="form-control">
        </div>
        <div class="form-group">
            <label for="description">Pershkrimi:</label>
            <textarea name="description" id="description" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label for="phone_number">Numri telefonit:</label>
            <input type="text" name="phone_number" id="phone_number" class="form-control">
        </div>
        <div class="form-group">
            <label for="password">Kodi:</label>
            <input type="password" name="password" id="password" class="form-control">
        </div>
        <input id="addBtn" type="submit" value="SHTO" class="btn btn-primary">
    </form>
</div>

<script src="/js/shtoNjerezNeNevoje.js"></script>