<link rel="stylesheet" href="/styles/home.css">

<div class="container">
    <h1>LINQET</h1>
    <ul>
        <li><a href="/lista/njerez-ne-nevoje">LISTE E NJEREZVE NE NEVOJE</a></li>
        <li><a href="/lista/donator">LISTE E DONATOREVE</a></li>
        <li><a href="/shto/njerez-ne-nevoje">SHTO NJE NJERI NE NEVOJE</a></li>
        <li><a href="/shto/donator">SHTO NJE DONATOR</a></li>
        <li><a href="/modifiko/njerez-ne-nevoje">MODIFIKO NJE NJERI NE NEVOJE</a></li>
        <li><a href="/modifiko/donator">MODIFIKO NJE DONATOR</a></li>
        <li><a href="/fshi/njerez-ne-nevoje">FSHI NJE NJERI NE NEVOJE</a></li>
        <li><a href="/fshi/donator">FSHI NJE DONATOR</a></li>
    </ul>
</div>